cat > .gitignore << EOF
__pycache__/
*.py[cod]
*$py.class

venv/
env/

*.pem
*.key
*.crt
.aws/

*.log
*.tmp

output/
temp_frames/
high_diff_frames/
key_frames/
visual_changes/
output_audio.wav

*.webm
*.wav
*.mp4

.ipynb_checkpoints/

.DS_Store
Thumbs.db

*.zip

.ssh/id_rsa
.ssh/id_rsa.pub
.ssh/id_ed25519
.ssh/id_ed25519.pub

*.csv
EOF

